<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:lizard-data-orm="http://www.lizardframework.io/schema/lizard-data-orm"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.lizardframework.io/schema/lizard-data-orm http://www.lizardframework.io/schema/lizard-data-orm.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="false">

	<!-- annotation -->
	<context:annotation-config/>
	<context:component-scan base-package="io.lizardframework.data.orm.fixture"/>

	<!-- open @Transactional -->
	<tx:annotation-driven/>

	<!-- aop -->
	<aop:aspectj-autoproxy proxy-target-class="true"/>


	<!-- mixed datasource: TestMixedDataSource -->
	<lizard-data-orm:mixed-datasource mixed-name="TestMixedDataSource"
	                                  mybatis-sqlsession-factory="TestMixedDataSourceSqlSessionFactoryBean"/>
	<!-- transaction manager -->
	<bean id="TestMixedDataSourceTx" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="TestMixedDataSource"/>
	</bean>
	<!-- mybatis sqlsession factory -->
	<bean id="TestMixedDataSourceSqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="TestMixedDataSource"/>
		<property name="mapperLocations" value="classpath*:mappers/simple/*Mapper.xml"/>
	</bean>
	<bean id="TestMixedDataSourceMapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="io.lizardframework.data.orm.fixture.simple.repository"/>
		<property name="sqlSessionFactoryBeanName" value="TestMixedDataSourceSqlSessionFactoryBean"/>
		<property name="annotationClass" value="org.springframework.stereotype.Repository"/>
	</bean>


	<!-- mixed datasource: TestMixedMSDataSource -->
	<lizard-data-orm:mixed-datasource mixed-name="TestMixedMSDataSource"/>
	<!-- transaction manager -->
	<bean id="TestMixedMSDataSourceTx" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="TestMixedMSDataSource"/>
	</bean>

</beans>